@import "tailwindcss";

:root {
  --background: #0D0D0D;
  --foreground: #F5F5F5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

/* Asegura que la imagen se mantenga centrada sin importar el ancho */
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}